html(lang="en")

head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css")

    title Hello, world!

    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
            .container
                a(href="/").navbar-brand Users

        .container
            .row
                .col-lg-3
                    .list-group
                        a(href="/users").list-group-item List Users
                        a(href="/").list-group-item Create A User

                .col-lg-9

                    form(action="/users" method="POST")

                        .form-group.row
                            label(for="name").col-sm-2.col-form-label Name
                            .col-sm-10
                                input.form-control#name(type="text" name="name")
                        .form-group.row
                            label(for="age").col-sm-2.col-form-label Age
                            .col-sm-10
                                input.form-control#age(type="text" name="age")
                        .form-group.row
                            label(for="gender").col-sm-2.col-form-label Gender
                            .col-sm-10
                                input.form-control#gender(type="text" name="gender")

                        .form-group.row
                            .col-sm-10.offset-sm-2
                                input(type="submit" value="Create User").btn.btn-primary

        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js")